<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProjectServlet</servlet-name>
        <servlet-class>Projects.AddProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>Admin.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Staff.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStaffServlet</servlet-name>
        <servlet-class>Admin.ShowStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>Admin.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectServlet</servlet-name>
        <servlet-class>Projects.UpdateProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAdminServlet</servlet-name>
        <servlet-class>Admin.ShowAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProjectServlet</servlet-name>
        <servlet-class>Projects.ShowProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemeServlet</servlet-name>
        <servlet-class>ThemeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProject</servlet-name>
        <servlet-class>Staff.SearchProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMeetingServlet</servlet-name>
        <servlet-class>Admin.AddMeetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMeetingServlet</servlet-name>
        <servlet-class>ShowMeetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassWordServlet</servlet-name>
        <servlet-class>ChangePassWordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProjectServlet</servlet-name>
        <url-pattern>/admin/addProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/admin/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/admin/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStaffServlet</servlet-name>
        <url-pattern>/admin/showStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/admin/updateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectServlet</servlet-name>
        <url-pattern>/updateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAdminServlet</servlet-name>
        <url-pattern>/admin/showAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProjectServlet</servlet-name>
        <url-pattern>/admin/showProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemeServlet</servlet-name>
        <url-pattern>/theme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProject</servlet-name>
        <url-pattern>/employee/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMeetingServlet</servlet-name>
        <url-pattern>/admin/addmeeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMeetingServlet</servlet-name>
        <url-pattern>/showMeeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassWordServlet</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
</web-app>
